.overview-content {
  padding: 20px;
}

.planet-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-info {
  text-align: center;
}

.planet-image {
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.planet-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.planet-description {
  text-align: left;
  max-width: 400px;
}

.planet-description p {
  font-size: 16px;
  margin-bottom: 10px;
}

// .moons-dropdown {
//   margin-top: 20px;

//   label {
//     font-size: 16px;
//     margin-right: 10px;
//   }

//   select {
//     font-size: 16px;
//     padding: 5px;
//     border-radius: 5px;
//     border: 1px solid #ccc;
//   }
// }
