ion-menu-button {
  color: var(--ion-color-primary);
}

ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.background {
  background-color: var(--ion-color-medium-tint);
  color: var(--ion-color-primary-contrast);
}

ion-grid ion-row {
  margin: 1rem 0;
}

ion-accordion-group ion-row:hover {
  background-color: #cccccc;
}

.view-details {
  cursor: pointer;
}

ion-accordion.accordion-collapsing ion-item[slot="header"] ion-label ion-text,
ion-accordion.accordion-collapsed ion-item[slot="header"] ion-label ion-text {
  color: var(--ion-color-primary);
}

ion-accordion.accordion-expanding ion-item[slot="header"] ion-label ion-text,
ion-accordion.accordion-expanded ion-item[slot="header"] ion-label ion-text {
  color: var(--ion-text-color);
}

ion-spinner {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  font-weight: bold;
  text-align: center;
  color: var(--ion-color-danger);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-chip {
  background: #013a70;
  color: #adefd1;
}
