<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Near Earth Objects Web Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid *ngIf="neoFeed$ | async as neoFeed; else errorTemplate">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text color="primary">
          <h5>
            Total Asteroids Observed Count in 8 day range:
            <ion-chip>{{neoFeed.element_count}}</ion-chip>
          </h5>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-accordion-group>
      <ion-accordion
        *ngFor="let neoEntry of neoFeed.near_earth_objects | keyvalue"
      >
        <ion-item slot="header" class="ion-text-start">
          <ion-label
            >Date:
            <ion-text style="font-weight: bold">{{ neoEntry.key }}:</ion-text
            ><ion-chip color="primary"
              >{{ neoEntry.value.length }}</ion-chip
            ></ion-label
          >
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row
              *ngFor="let neo of neoEntry.value; let i = index;"
              [ngClass]="{'background': i % 2 === 0 }"
              class="ion-padding"
            >
              <ion-col>
                <ion-label><strong>Asteroid Name</strong></ion-label>
                <ion-text>{{neo.name}}</ion-text>
              </ion-col>
              <ion-col class="ion-hide-md-down">
                <ion-label><strong>Absolute Magnitude</strong></ion-label>
                <ion-text>{{neo.absolute_magnitude_h}}</ion-text>
              </ion-col>
              <ion-col class="ion-hide-xl-down">
                <ion-label><strong>Diameter in km</strong></ion-label>
                <ion-text>
                  Min:
                  {{neo.estimated_diameter.kilometers.estimated_diameter_min}}
                </ion-text>
                <ion-text>
                  Max:
                  {{neo.estimated_diameter.kilometers.estimated_diameter_max}}</ion-text
                >
              </ion-col>
              <ion-col class="ion-hide-md-down">
                <ion-label><strong>Potentially Hazardous</strong></ion-label>
                <ion-text
                  >{{neo.is_potentially_hazardous_asteroid ? 'Yes' :
                  'No'}}</ion-text
                >
              </ion-col>
              <ion-col class="ion-hide-md-down">
                <ion-label><strong>Under Observation</strong></ion-label>
                <ion-text>{{neo.is_sentry_object ? 'Yes' : 'No'}}</ion-text>
              </ion-col>
              <ion-col class="view-details">
                <ion-button
                  (click)="navigateToDetails(neo.neo_reference_id)"
                  size="small"
                  shape="round"
                  >View Details</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="getPrevious(neoFeed.links.previous)"
          >Previous 8 days</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="getNext(neoFeed.links.next)"
          >Next 8 days</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-title>
      <app-page-info (click)="onViewPageInfo()"></app-page-info>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-spinner *ngIf="isLoading" name="circles"></ion-spinner>
<ng-template #errorTemplate>
  <span class="error-message">{{ errorMessage }}</span>
</ng-template>
