.light-mode {
  --ion-background-color: var(--ion-color-light);
  --ion-text-color: var(--ion-color-light-contrast);
}

.dark-mode {
  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-dark-contrast);
  --ion-card-background-color: var(--ion-color-dark-tint);
  --ion-menu-background-color: var(--ion-color-dark-tint);
}

ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}

ion-app.light-mode {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  ion-list-header,
  ion-card-title,
  .alert-radio-label,
  ion-card-content {
    color: var(--ion-text-color);
  }
  ion-datetime {
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
  }
  ion-accordion.accordion-collapsing ion-item[slot="header"],
  ion-accordion.accordion-collapsed ion-item[slot="header"] {
    --background: var(--ion-menu-background-color);
    --color: var(--ion-text-color);
  }

  ion-accordion.accordion-expanding ion-item[slot="header"],
  ion-accordion.accordion-expanded ion-item[slot="header"] {
    --background: var(--ion-color-primary);
    --color: var(--ion-text-color);
  }
  ion-item,
  item-divider {
    --border-color: var(--ion-text-color);
  }
}

ion-app.dark-mode {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);

  ion-list-header,
  ion-card-title,
  .alert-radio-label,
  ion-card-content {
    color: var(--ion-text-color);
  }
  ion-datetime {
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
  }
  ion-card {
    background-color: var(--ion-card-background-color);
  }
  ion-menu {
    --ion-background-color: var(--ion-menu-background-color);
  }
  ion-accordion.accordion-collapsing ion-item[slot="header"],
  ion-accordion.accordion-collapsed ion-item[slot="header"] {
    --background: var(--ion-menu-background-color);
    --color: var(--ion-text-color);
  }

  ion-accordion.accordion-expanding ion-item[slot="header"],
  ion-accordion.accordion-expanded ion-item[slot="header"] {
    --background: var(--ion-color-primary);
    --color: var(--ion-text-color);
  }
  ion-item,
  item-divider {
    --border-color: var(--ion-text-color);
  }
}
