ion-card-header {
  text-align: start;
}

ion-card-content {
  text-align: start;
}

ion-img {
  cursor: pointer;
}

iframe {
  display: block;
  background: #000;
  border: none;
  width: 100%;
  height: 350px;
}
