<ion-header [translucent]="true" *ngIf="planet">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ planet.englishName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="overview">
        <ion-label>Overview</ion-label>
        <ion-icon name="prism"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="details">
        <ion-label>Details</ion-label>
        <ion-icon name="reader"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
